doctype html
html
    head
        title
        link(rel='stylesheet', href='/css/bundle.css')
        script(src='/js/vendor/jquery.js', defer='')
        script(src='/js/vendor/uikit.js', defer='')
        script(src='/js/main.js', defer='')
    body
        div#app.uk-container