doctype html
html
    head
        title #{title}
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Handcrafted: магазин изделий ручной работы')
        link(rel='stylesheet', href='/css/bundle.css')
        script(src='/js/vendor/jquery.js', defer='')
        script(src='/js/vendor/uikit.js', defer='')
        - var mainSrc = "/js/" + mainAppName + ".js";
        script(src=mainSrc, defer='')
    body
        div#app.uk-container