doctype html
html
    head
        title Handcrafted
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Handcrafted: магазин изделий ручной работы')
        link(rel='stylesheet', href='/css/bundle.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pacifico')
        script(src='/js/vendor/jquery.js', defer='')
        script(src='/js/vendor/uikit.js', defer='')
        script(src='/js/main.js', defer='')
    body
        div#app.uk-container